@model FinalProject.Models.SeansViewModel
@{
    ViewBag.Title = "SeansProfile";
}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 p-0 col-seans m-0">
                    <div class="seans-part ">
                        <div class="seans-image px-2 py-2">
                            <div class="seans-main-image">
                                <img src="/Public/image/cinema/@Model.Image"
                                     alt="seans_@Model.Id">
                            </div>
                        </div>
                        <div class="seans-info ">
                            <div class="contain-info contain-seans mx-0  px-3">
                                <p><span> Name:</span> @Model.Name</p>
                                <p><span>Address:</span> @Model.Address</p>
                                <p><span>Phone:</span> @Model.Phone</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-poster" id="page">
                <div class="col-12 category-title">
                    <h2>Choose Movies</h2>
                </div>
                @foreach (var item in Model.MovieSeans.Where(m=>m.Movy.Year > 2018))
                {
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster">
                            <a href="@Url.Action("SeansTable","Seans", new { Id = item.Id })">
                                <div class="shadow-image">
                                    <p class="px-2">@item.Movy.Name</p>
                                    <p>Director: @item.Movy.Director</p>
                                    <p>Duration: @item.Movy.Duration</p>
                                    <p>IMDB: @item.Movy.Imdb/10</p>
                                    <p>Year: @item.Movy.Year</p>
                                </div>
                            </a>
                            <a href="@Url.Action("SeansTable","Seans", new { Id = item.Id })"> <img src="/Public/image/content/@item.Movy.Image" alt="Movie_@item.Movy.Id"></a>
                        </div>
                    </div>
                }
                <div class="col-12 my-3">
                    <ul class=pagination>
                        <li id="previous-page">
                            <a href="javascript:void(0)" class="pagination-item" aria-label=Previous>
                                <span aria-hidden=true>&laquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
