@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container">
                <div class="row row-poster" id="page">
                    <div class="col-12 category-title">
                        <h2>New Movies</h2>
                    </div>
                    @foreach (var news in Model.Movies.Where(n=>n.Year == 2019).OrderByDescending(z=>z.Id))
                    {
                        <div class="col-md-3 movie-poster poster-item">
                            <div class="base-poster">
                                <a href="@Url.Action("MoviesProfile","Home", new { Id = news.Id })">
                                    <div class="shadow-image">
                                        <p class="px-2">@news.Name</p>
                                        <p>Director: @news.Director</p>
                                        <p>Duration: @news.Duration</p>
                                        <p>IMDB: @news.Imdb/10</p>
                                        <p>Year: @news.Year</p>
                                    </div>
                                </a>
                                <a href="@Url.Action("MoviesProfile","Home", new { Id = news.Id })"> <img src="/Public/image/content/@news.Image" alt="new_@news.Id"></a>
                            </div>
                        </div>
                    }
                    <div class="col-12 my-3">
                        <ul class=pagination>
                            <li id="previous-page">
                                <a href="javascript:void(0)" class="pagination-item" aria-label=Previous>
                                    <span aria-hidden=true>&laquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
