@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 position-relative p-0">
                        <div class="slider">
                            @foreach (var slider in Model.Movies.Where(s=>s.Slider == true))
                            {
                                <div class="slider-picture">
                                    <a href="@Url.Action("MoviesProfile","Home", new { Id = slider.Id })">
                                        <img src="~/Public/image/content/@slider.Image" alt="slider_@slider.Id">
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container my-3">
                <div class="row row-select">
                    <div class="col-12 col-search">
                        <h2>
                            Choose Movies
                        </h2>
                    </div>
                    <div class="col-md-6 col-select-category">
                        <select name="" id="" class="category-select">
                            <option selected="selected">-CATEGORY-</option>
                            @foreach (var genre in Model.Genres)
                            {
                                <option value="@genre.Name">@genre.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6 col-select-year">
                        <select name="" id="" class="year-select">
                            <option selected="selected">-YEAR-</option>
                            @foreach (var year in Model.Movies.OrderByDescending(x=>x.Year))
                            {
                                <option value="@year.Year">@year.Year</option>
                            }
                        </select>
                        <button class="btn btn-danger">Search</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row row-poster" id="page">
                    <div class="col-12 poster-title mb-2">
                        <h2>Watch Movies</h2>
                    </div>
                    @*@if (Model.Movies.Count() == 0)
                    {
                        <span style="color:red">Not Found</span>
                    }
                    else
                    {*@
                    @foreach (var imdb in Model.Movies)
                    {
                        <div class="col-md-3 movie-poster poster-item ">
                            <div class="base-poster">
                                <a href="@Url.Action("MoviesProfile","Home", new { Id = imdb.Id})">
                                    <div class="shadow-image">
                                        <p class="px-2">@imdb.Name</p>
                                        <p>Director: @imdb.Director</p>
                                        <p>Duration: @imdb.Duration</p>
                                        <p>IMDB: @imdb.Imdb/10</p>
                                        <p>Year: @imdb.Year</p>
                                    </div>
                                </a>
                                <a href="@Url.Action("MoviesProfile","Home", new { Id = imdb.Id })"> <img src="/Public/image/content/@imdb.Image" alt="1"></a>
                            </div>
                        </div>
                    }
                    @*}*@

                    <div class="col-12 my-3">
                        <ul class=pagination>
                            <li id="previous-page">
                                <a href="javascript:void(0)" class="pagination-item" aria-label=Previous>
                                    <span aria-hidden=true>&laquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
