@model FinalProject.Models.DetailsViewModel
@{
    ViewBag.Title = "MoviesProfile";
}
<main>
    <section>
        <div class="container">
            <div class="row row-actor">
                <div class="col-12 category-title">
                    <h2>
                        About Movie
                    </h2>
                </div>
                <div class="col-md-3 actor-profile py-5">
                    <div class="actor-image ml-4">
                        <img src="~/Public/image/content/@Model.Image" alt="movie_@Model.Id">
                    </div>
                </div>

                <div class="col-md-9 actor-info py-3">
                    <div class="contain-info movie-content pt-3">
                        <p><span>Name:</span> @Model.Name</p>
                        <p><span>Production:</span> @Model.Production</p>
                        <p><span>Duration:</span> @Model.Duration</p>
                        <p>
                            <span>Genre:</span>
                            @for (var item = 0; item < Model.Category.Count; item++)
                            {
                                if (item == Model.Category.Count - 1)
                                {
                                    <a href="@Url.Action("CategoryProfile","Category", new { Id = Model.Category[item].GenreID})">  @Model.Category[item].Genre.Name  </a>
                                    break;
                                }
                                <a href="@Url.Action("CategoryProfile","Category", new { Id = Model.Category[item].GenreID})">  @Model.Category[item].Genre.Name , </a>

                            }
                        </p>
                        <p><span>Director:</span> @Model.Director</p>
                        <p>
                            <span>Starring:</span>
                            @for (var star = 0; star < Model.Star.Count; star++)
                            {
                                if (star == Model.Star.Count -1)
                                {
                                    <a href="@Url.Action("ActorsProfile", "Actors",new { Id = Model.Star[star].ActorID})"> @Model.Star[star].Actor.Name </a>

                                }
                                else
                                {

                                <a href="@Url.Action("ActorsProfile", "Actors",new { Id = Model.Star[star].ActorID})"> @Model.Star[star].Actor.Name ,</a>
                                }

                            }
                        </p>
                        <p><span>IMDB:</span> @Model.Imdb / 10</p>
                    </div>
                </div>
                <div class="col-12 col-wiki py-3">
                    <div class="actor-wikipedia">
                        <div class="wiki-text ">
                            <p>@Model.Info</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container my-2">
            <div class="row ">
                <div class="col-12 category-title">
                    <h2>
                        Watch Movie
                    </h2>
                </div>
                <div class="col-12 video-part p-0">
                    <iframe src="@Model.Video" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 category-title contact-banner">
                    <h2>
                        Comments
                    </h2>
                </div>
                <div class="col-12 comment-part">
                    <form class="comment-form">
                        <div>
                            <label for="">Your Name</label>
                            <input type="text" class="comment-input" placeholder="Enter You Name">
                        </div>
                        <div>
                            <label for="">Your Comment</label>
                            <textarea type="text" class="comment-textarea"
                                      placeholder="Enter Your Comment"></textarea>
                        </div>

                        <a href="#" class="comment-button">Send</a>
                    </form>
                    <div class="show-comment  my-2 py-4">
                        @foreach (var comment in Model.Comments)
                        {
                        <div class="main-comment my-3">
                            <div class="comment-title p-2 ">
                                <span>@comment.Name</span>
                                <span>@comment.Date@*.ToString(string.Format("dd/MM/yyyy"))*@</span>
                            </div>
                            
                            <div class="comment-text py-4 px-2">
                                <p>@comment.Comment1</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
