
@{
    ViewBag.Title = "Index";
}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 category-title">
                    <h2>
                        Seans
                    </h2>
                </div>
                <div class="col-12 p-0">
                    <div class="cinema-part py-3 ">
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                        <div class="sinema-select my-3">
                            <div class="sinema-name">
                                <h4><a href="@Url.Action("SeansProfile","Seans")">"Azerbaijan" CinemaPlus</a></h4>
                                <p class="ml-2">Address: Baku</p>
                            </div>
                            <div class="sinema-image">
                                <img src="/Public/image/cinema/azerbaijancinema.jpg" alt="cinema001">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

