@model FinalProject.Models.ActorViewModel
@{
    ViewBag.Title = "ActorsProfile";
}
<main>
    <section>
        <div class="container">
            <div class="row row-actor">
                <div class="col-12 category-title">
                    <h2>
                        Actors
                    </h2>
                </div>
                <div class="col-md-3 actor-profile py-4 ">
                    <div class="actor-image ml-4">
                        <img src="/Public/image/actors/@Model.Image" alt="Actor_@Model.Id">
                    </div>
                </div>
                <div class="col-md-9 actor-info py-4">
                    <div class="contain-info">
                        <p><span>Name:</span> @Model.Name</p>
                        <p><span>Born:</span> @Model.Born</p>
                        <p><span>Country:</span> @Model.Country</p>
                        <p><span>Nationalty:</span> @Model.Nationality</p>
                        <p><span>Awards:</span> @Model.Awards</p>
                    </div>
                </div>

                <div class="col-12 col-wiki py-3">
                    <div class="actor-wikipedia">
                        <div class="wiki-text ">
                            <p>@Model.Info...<a href="@Model.Wikipedia">Wikipedia</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row row-poster" id="page">
                <div class="col-12 category-title">
                    <h2>Related Movies</h2>
                </div>
                @foreach (var profile in Model.MovieActors)
                {
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster">
                            <a href="@Url.Action("MoviesProfile","Home", new { Id = profile.MovieID })">
                                <div class="shadow-image">
                                    <p>@profile.Movy.Name</p>
                                    <p>Diirector: @profile.Movy.Director</p>
                                    <p>Duration: @profile.Movy.Duration</p>
                                    <p>IMDB: @profile.Movy.Imdb/10</p>
                                    <p>Year: @profile.Movy.Year</p>
                                </div>
                            </a>
                            <a href="@Url.Action("MoviesProfile","Home", new { Id = profile.MovieID })"> <img src="/Public/image/content/@profile.Movy.Image" alt="profile_@profile.Movy.Id"></a>
                        </div>
                    </div>
                }
                <div class="col-12 my-3">
                    <ul class=pagination>
                        <li id="previous-page">
                            <a href="javascript:void(0)" class="pagination-item"
                               aria-label=Previous><span aria-hidden=true>&laquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>






