
@{
    ViewBag.Title = "Index";
}
    <main>
        <section>
            <div class="container mt-1">
                <div class="row">
                    <div class="col-12 col-search-actor">
                        <div class="search-actor">
                            <form class="search-actor-form">
                                <input type="text" placeholder="Search Actors">
                                <button>Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row row-poster" id="page">
                    <div class="col-12 category-title">
                        <h2>
                            Most Popular Actors
                        </h2>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/tom-hanks.jpg" alt="1"></a>
                        </div>
                    </div>
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster base-actor-poster">
                            <div class="shadow-actor">
                                <a href="@Url.Action("ActorsProfile","Actors")">Leonardo DiCaprio</a>
                            </div>
                            <a href="@Url.Action("ActorsProfile","Actors")"> <img src="/Public/image/actors/s1200 (1).jpg" alt="1"></a>
                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <ul class=pagination>
                            <li id="previous-page">
                                <a href="javascript:void(0)" class="pagination-item"
                                   aria-label=Previous><span aria-hidden=true>&laquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
