
@{
    ViewBag.Title = "Index";
}

<main>
    <section>
        <div class="container">
            <div class="row row-poster" id="page">
                <div class="col-12  mb-2 p-0 col-imdb">
                    <div class="imdb-part header-part">
                        <ul>
                            <li> <a class="item" href="@Url.Action("Top250","IMDB")">IMDB Top 250 </a></li>
                            <li> <a class="item" href="@Url.Action("MoreFrom7","IMDB")">IMDB 7+ </a></li>
                            <li><a class="item" href="@Url.Action("Top10","IMDB")">IMDB Top 10(Week)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/point-blank-2019.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/actors/Dwayne.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-md-3 movie-poster poster-item ">
                    <div class="base-poster">
                        <a href="@Url.Action("MoviesProfile","Home")">
                            <div class="shadow-image">
                                <p>Point Blank</p>
                                <p>Dram,Horror</p>
                                <p>Duration: 112 min.</p>
                                <p>IMDB: 7.3/10</p>
                                <p>Year: 2019</p>
                            </div>
                        </a>
                        <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/IMDB/warrior.jpg" alt="1"></a>
                    </div>
                </div>
                <div class="col-12 my-3">
                    <ul class=pagination>
                        <li id="previous-page">
                            <a href="javascript:void(0)" class="pagination-item" aria-label=Previous>
                                <span aria-hidden=true>&laquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

