@model FinalProject.Models.HomeViewModel
@{
    ViewBag.Title = "MoreFrom7";
}
<main>
    <section>
        <div class="container">
            <div class="row row-poster" id="page">
                <div class="col-12 category-title">
                    <h2>IMDB 7+</h2>
                </div>
                @foreach (var more in Model.Movies.Where(m=>m.Imdb > 7))
                {
                    <div class="col-md-3 movie-poster poster-item ">
                        <div class="base-poster">
                            <a href="@Url.Action("MoviesProfile","Home", new { Id = more.Id })">
                                <div class="shadow-image">
                                    <p class="px-2">@more.Name</p>
                                    <p>Director: @more.Director</p>
                                    <p>Duration: @more.Duration</p>
                                    <p>IMDB: @more.Imdb/10</p>
                                    <p>Year: @more.Year</p>
                                </div>
                            </a>
                            <a href="@Url.Action("MoviesProfile","Home")"> <img src="/Public/image/content/@more.Image" alt="Imdb_@more.Id"></a>
                        </div>
                    </div>
                }
                <div class="col-12 my-3">
                    <ul class=pagination>
                        <li id="previous-page">
                            <a href="javascript:void(0)" class="pagination-item" aria-label=Previous>
                                <span aria-hidden=true>&laquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>


